*
!.gitignore

!/.clangd
!/CMakeLists.txt
!/CMakePresets.json
!/LICENSE
!/Makefile
!/README.md
!/uninstall.sh
!/usernet-run
!/usernet.conf

!/include/
!/include/**/
!/include/**/*.h

!/contrib/
!/contrib/**/
!/contrib/**/CMakeLists.txt
!/contrib/**/README.md
!/contrib/**/*.c
!/contrib/**/*.cc
!/contrib/**/*.cpp
!/contrib/**/*.cxx
!/contrib/**/*.h
!/contrib/**/*.hh
!/contrib/**/*.hpp
!/contrib/**/*.hxx

!/src/
!/src/**/
!/src/**/CMakeLists.txt
!/src/**/*.c
!/src/**/*.cc
!/src/**/*.cpp
!/src/**/*.cxx
!/src/**/*.h
!/src/**/*.hh
!/src/**/*.hpp
!/src/**/*.hxx

!/tests/
!/tests/**/
!/tests/**/CMakeLists.txt
!/tests/**/*.c
!/tests/**/*.cc
!/tests/**/*.cpp
!/tests/**/*.cxx
!/tests/**/*.h
!/tests/**/*.hh
!/tests/**/*.hpp
!/tests/**/*.hxx

!/docs/
!/docs/**/
!/docs/**/*.md
